<HTML>
    {% load static %}
    <head> <link rel="stylesheet" href="{% static 'css/genders.css' %}"> </head>
    <body> 
    <h1>Group30    Consumer Insights</h1>
    <br>
    <table>
        <tr>
        <td><h2>Top 10 Interests</h2>
        <ol><li> <b>god</b> appearing <b>386</b> times! </li><li> <b>house</b> appearing <b>326</b> times! </li><li> <b>tweet</b> appearing <b>269</b> times! </li><li> <b>sunday</b> appearing <b>233</b> times! </li><li> <b>app</b> appearing <b>230</b> times! </li><li> <b>white</b> appearing <b>226</b> times! </li><li> <b>red</b> appearing <b>218</b> times! </li><li> <b>friday</b> appearing <b>203</b> times! </li><li> <b>bro</b> appearing <b>199</b> times! </li><li> <b>monday</b> appearing <b>197</b> times! </li></ol><a href="counts.csv" download>Download Interests CSV <a></td>
        <td><h2>Top 10 Locations</h2>
        <ol><li> <b>Indonesia</b> with  138 tweets</li><li> <b>Rio de Janeiro</b> with  127 tweets</li><li> <b>São Paulo</b> with  97 tweets</li><li> <b>Brasil</b> with  88 tweets</li><li> <b>India</b> with  63 tweets</li><li> <b>日本</b> with  61 tweets</li><li> <b>Malaysia</b> with  53 tweets</li><li> <b>United States</b> with  47 tweets</li><li> <b>México</b> with  46 tweets</li><li> <b>DKI Jakarta</b> with  45 tweets</li> </ol><a href="locations.csv" download>Download Locations CSV <a></td>
        </tr>
        <tr>
        <td colspan="2"><img src="{% static 'images/genders.png' %}" alt="Gender Ratios"></td>
        </tr>
    </table>
    </body>
</HTML>