<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <title>Welcome to Group30</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <style>
      #errormsg {
        color: red;
      }
    </style>
  </head>
  <body>
    <form method="POST" action="/display/md/">
      {% csrf_token %}
      <div class="loginbox">
        <img
          src="{% static 'images/user.jpg' %}"
          alt="load.."
          class="userpic"
        />
        <h1 id="q">Sign in</h1>
        {%if msg%} <span id="errormsg">{{msg}}</span> {%endif%}
        <p>Username</p>
        <input
          type="text"
          name="usr"
          placeholder="Enter Username"
          required="required"
        />
        <p>Password</p>
        <input
          type="password"
          name="pwd"
          placeholder="Enter Password"
          required="required"
        />
        <input type="submit" name="" value="Login" />
        <a href="http://127.0.0.1:8000/home/reset">Forget your password?</a
        ><br />
        <a href="http://127.0.0.1:8000/home/register">Sign Up</a><br />
      </div>
    </form>
  </body>
</html>
