<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <title>Welcome to Group30</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <style>
      #errormsg {
        color: red;
      }
      
    </style>
      <body style="background-color:#EAEAEA;"></body>
  </head>
  <body>
    <form method="POST" action="/display/md/">
      {% csrf_token %}
      <div class="loginbox">
        <img
          src="{% static 'images/user.jpg' %}"
          alt="load.."
          class="userpic"
        />
        <nav class="navbar" style="background-color:#231f20;">
       <center><h1 style="color:#ad974f;"id="q">Sign in</h1></center>
       </nav>
        {%if msg%} <span id="errormsg">{{msg}}</span> {%endif%}
        <center><p>Username</p>
        <input
          type="text"
          name="usr"
          placeholder="Enter Username"
          required="required"
        /></center>
       <center><p>Password</p>
        <input
          type="password"
          name="pwd"
          placeholder="Enter Password"
          required="required"
        /></center>
        <center style="padding-top: 15px;" ><input type="submit" name="" value="Login" /></center>
        <center style="padding-top: 15px;"><a href="http://127.0.0.1:8000/home/reset">Forget your password?</a
        ><br /></center>
        <center style="padding-top: 15px;"><a href="http://127.0.0.1:8000/home/register">Sign Up</a><br /></center>
      </div>
    </form>
  </body>
</html>
